%h1 Home
%h2 Achive your errors and solutions with "Bug Archive"!

%p Welcome to the Bug Archives web application tool! Did you just spend hours debugging something that could have taken 1 minute? Save it with "Bug Archive" -- so you won't have to go digging for it again, you'll save time for more hacking.  Please visit the index page to see a list of errors and solutions that have already been archived, you might be lucky.  You can also do a quick search by title.  If you can't find anything then add your errors and solutions by first registering then logging in to record your errors and solutions. Thanks!  