%h1 Archive your solutions now and save time tomorrow!
%p Please fill in the form below and submit your errors and solutions.

%label{:for => "#mesEntry"} Please select a program.
%input#mesEntry{:list => "mySelection", :type => "text"}
%datalist#mySelection
  %option Ruby
  %option RSpec
  %option Rails
  %option PostgreSQL
  %0ption SQLite
  %option Ubuntu 
  %option Linux
  %option OSX
  %option Windows
= render 'form'  

